In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
from scipy import stats
import numpy as np

In [5]:
### read data 
participant = 'p0'
fileName = './data/'+ str(participant)+'.csv'
rawdata = pd.read_csv(fileName, sep=",")
rawdata.shape
rawdata.describe() # simple describe like count, mean and std

./data/p0.csv

,time,S1_D2_7.555000e+02nm,S3_D2_7.555000e+02nm,S4_D2_7.555000e+02nm,S7_D7_7.555000e+02nm,S8_D7_7.555000e+02nm,S10_D7_7.555000e+02nm,S1_D1_7.555000e+02nm,S2_D1_7.555000e+02nm,S3_D1_7.555000e+02nm,...,S9_D8_7.555000e+02nm,S7_D5_7.555000e+02nm,S6_D5_7.555000e+02nm,S8_D5_7.555000e+02nm,S2_D3_7.555000e+02nm,S3_D3_7.555000e+02nm,S5_D3_7.555000e+02nm,S6_D6_7.555000e+02nm,S8_D6_7.555000e+02nm,S9_D6_7.555000e+02nm
count,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,...,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000
mean,823.293453,-0.032669,-0.029628,-0.038133,-0.034734,-0.022782,-0.034356,-0.033902,-0.020889,-0.021634,...,-0.018200,-0.031310,-0.014812,-0.017939,-0.022007,-0.018475,-0.019878,-0.014193,-0.023987,-0.014837
std,475.352771,0.501266,0.459294,0.584961,0.533433,0.349352,0.526409,0.520137,0.321129,0.334535,...,0.280398,0.482513,0.235592,0.276699,0.338963,0.304068,0.311469,0.221308,0.394263,0.229831
min,0.000000,-9.040000,-8.210000,-10.600000,-9.610000,-6.280000,-9.490000,-9.370000,-5.770000,-5.980000,...,-5.040000,-8.680000,-4.080000,-4.940000,-6.080000,-5.140000,-5.480000,-3.930000,-6.630000,-4.140000
25%,412.000000,-0.014700,-0.010200,-0.013900,-0.017500,-0.017100,-0.021075,-0.013900,-0.014900,-0.008840,...,-0.015900,-0.017200,-0.024200,-0.013200,-0.014600,-0.024500,-0.026900,-0.023700,-0.056700,-0.018600
50%,823.000000,-0.000186,-0.000612,0.001160,0.002380,0.001465,0.000604,0.000904,-0.000600,0.000393,...,0.000541,0.000884,-0.000692,0.000466,-0.000992,-0.000403,-0.001385,0.000625,-0.001560,-0.001065
75%,1230.000000,0.013600,0.013200,0.013500,0.019800,0.018275,0.020000,0.014800,0.011500,0.010400,...,0.014600,0.017100,0.023300,0.012800,0.009978,0.031200,0.020900,0.023500,0.066000,0.016400
max,1650.000000,1.300000,1.200000,1.520000,1.380000,0.886000,1.330000,1.330000,0.837000,0.877000,...,0.752000,1.250000,0.608000,0.700000,0.890000,0.849000,0.788000,0.580000,0.954000,0.626000

In [35]:
### rename column names 
titles = rawdata.columns
for t in titles:
    tempTile = t[0:6]
    # print(tempTile)
    rawdata.rename(columns={t:tempTile},inplace=True)
rawdata.describe()

,time,S1_D2_,S3_D2_,S4_D2_,S7_D7_,S8_D7_,S10_D7,S1_D1_,S2_D1_,S3_D1_,...,S9_D8_,S7_D5_,S6_D5_,S8_D5_,S2_D3_,S3_D3_,S5_D3_,S6_D6_,S8_D6_,S9_D6_
count,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,...,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000,16466.000000
mean,823.293453,-0.032669,-0.029628,-0.038133,-0.034734,-0.022782,-0.034356,-0.033902,-0.020889,-0.021634,...,-0.018200,-0.031310,-0.014812,-0.017939,-0.022007,-0.018475,-0.019878,-0.014193,-0.023987,-0.014837
std,475.352771,0.501266,0.459294,0.584961,0.533433,0.349352,0.526409,0.520137,0.321129,0.334535,...,0.280398,0.482513,0.235592,0.276699,0.338963,0.304068,0.311469,0.221308,0.394263,0.229831
min,0.000000,-9.040000,-8.210000,-10.600000,-9.610000,-6.280000,-9.490000,-9.370000,-5.770000,-5.980000,...,-5.040000,-8.680000,-4.080000,-4.940000,-6.080000,-5.140000,-5.480000,-3.930000,-6.630000,-4.140000
25%,412.000000,-0.014700,-0.010200,-0.013900,-0.017500,-0.017100,-0.021075,-0.013900,-0.014900,-0.008840,...,-0.015900,-0.017200,-0.024200,-0.013200,-0.014600,-0.024500,-0.026900,-0.023700,-0.056700,-0.018600
50%,823.000000,-0.000186,-0.000612,0.001160,0.002380,0.001465,0.000604,0.000904,-0.000600,0.000393,...,0.000541,0.000884,-0.000692,0.000466,-0.000992,-0.000403,-0.001385,0.000625,-0.001560,-0.001065
75%,1230.000000,0.013600,0.013200,0.013500,0.019800,0.018275,0.020000,0.014800,0.011500,0.010400,...,0.014600,0.017100,0.023300,0.012800,0.009978,0.031200,0.020900,0.023500,0.066000,0.016400
max,1650.000000,1.300000,1.200000,1.520000,1.380000,0.886000,1.330000,1.330000,0.837000,0.877000,...,0.752000,1.250000,0.608000,0.700000,0.890000,0.849000,0.788000,0.580000,0.954000,0.626000

In [22]:
### read labels 
labels = []
labelFile = './data/labels_v1.csv'
labelData = pd.read_csv(labelFile, sep=",")
labelData.head()

   P   F1   F2    N1    N2    S1    S2    A1    A2
0  0  196  383  1226  1639   974  1168   476   702
1  3  662  845   908  1854  2118  2303  2387  2732
2  4  631  815  1041  1731  1937  2119  2181  2745
3  6  808  986  1060  1576  1754  1937  1974  2474
4  7  445  627   800  1352  1631  1817  1865  2129

In [23]:
### read row from labels 
singleLabel = labelData.loc[0]
print(singleLabel)

P        0
F1     196
F2     383
N1    1226
N2    1639
S1     974
S2    1168
A1     476
A2     702
Name: 0, dtype: int64

In [24]:
L1_start = singleLabel['F1']
L1_end = singleLabel['F2']
L2_start = singleLabel['S1']
L2_end = singleLabel['S2']
N_start = singleLabel['N1']
N_end = singleLabel['N2']
A_start = singleLabel['A1']
A_end = singleLabel['A2']

In [37]:

c = [] # whole data
data = rawdata
segs.append(rawdata.loc[range(L1_start,L1_end)])  # learning 1
segs.append(rawdata.loc[range(L2_start,L2_end)])  # learning 2
segs.append(rawdata.loc[range(N_start,N_end)])  # Non
segs.append(rawdata.loc[range(A_start ,A_end)])
# print(rawdata.describe())
print(segs[0].describe())

time  S1_D2_7.555000e+02nm  S3_D2_7.555000e+02nm  \
count  187.00000            187.000000            187.000000
mean    28.90000              1.007339              0.920264
std      5.41264              0.330921              0.304064
min     19.60000              0.039900              0.034900
25%     24.25000              0.896500              0.809500
50%     28.90000              1.140000              1.020000
75%     33.55000              1.250000              1.160000
max     38.20000              1.300000              1.200000

       S4_D2_7.555000e+02nm  S7_D7_7.555000e+02nm  S8_D7_7.555000e+02nm  \
count            187.000000            187.000000            187.000000
mean               1.179213              1.076130              0.692092
std                0.390138              0.358899              0.230442
min                0.040500              0.001130              0.037200
25%                1.050000              0.970500              0.620000
50%                1.330000              1.220000              0.796000
75%                1.470000              1.340000              0.856000
max                1.520000              1.380000              0.886000

       S10_D7_7.555000e+02nm  S1_D1_7.555000e+02nm  S2_D1_7.555000e+02nm  \
count              187.00000            187.000000            187.000000
mean                 1.04503              1.041570              0.650903
std                  0.34959              0.338797              0.204952
min                  0.03380              0.039900              0.079300
25%                  0.93200              0.926000              0.577500
50%                  1.21000              1.190000              0.728000
75%                  1.29000              1.290000              0.804000
max                  1.33000              1.330000              0.837000

       S3_D1_7.555000e+02nm  ...  S9_D8_7.555000e+02nm  S7_D5_7.555000e+02nm  \
count            187.000000  ...            187.000000            187.000000
mean               0.676184  ...              0.572761              0.974043
std                0.225863  ...              0.193132              0.319125
min                0.030400  ...              0.055100              0.039500
25%                0.601000  ...              0.509500              0.880500
50%                0.758000  ...              0.631000              1.100000
75%                0.847500  ...              0.727000              1.210000
max                0.877000  ...              0.752000              1.250000

       S6_D5_7.555000e+02nm  S8_D5_7.555000e+02nm  S2_D3_7.555000e+02nm  \
count            187.000000            187.000000            187.000000
mean               0.455511              0.547653              0.687222
std                0.157017              0.181812              0.223951
min                0.027400              0.030800              0.070600
25%                0.395000              0.492000              0.606500
50%                0.503000              0.629000              0.770000
75%                0.583500              0.682000              0.859500
max                0.608000              0.700000              0.890000

       S3_D3_7.555000e+02nm  S5_D3_7.555000e+02nm  S6_D6_7.555000e+02nm  \
count            187.000000            187.000000             187.00000
mean               0.579161              0.614123               0.43362
std                0.207241              0.191900               0.15411
min               -0.026700              0.103000               0.00950
25%                0.518000              0.544500               0.37500
50%                0.653000              0.689000               0.49900
75%                0.739000              0.761500               0.54750
max                0.769000              0.788000               0.58000

       S8_D6_7.555000e+02nm  S9_D6_7.555000e+02nm
count            187.000000            187.000000
mean               0.728634              0.474772
std                0.238685              0.155682
min               -0.060600              0.072200
25%                0.634000              0.410000
50%                0.845000              0.514000
75%                0.883000              0.606000
max                0.954000              0.626000

[8 rows x 25 columns]

In [26]:
### remove outliner 
fsegs = []

for k in range(0,4):
    tempSegs = segs[k][(np.abs(stats.zscore(segs[k])) < 3).all(axis=1)]
    fsegs.append(tempSegs)

In [29]:
### plot 
segs[2].head()
# fsegs[2]['S1_D2_'].plot

,time,S1_D2_7.555000e+02nm,S3_D2_7.555000e+02nm,S4_D2_7.555000e+02nm,S7_D7_7.555000e+02nm,S8_D7_7.555000e+02nm,S10_D7_7.555000e+02nm,S1_D1_7.555000e+02nm,S2_D1_7.555000e+02nm,S3_D1_7.555000e+02nm,...,S9_D8_7.555000e+02nm,S7_D5_7.555000e+02nm,S6_D5_7.555000e+02nm,S8_D5_7.555000e+02nm,S2_D3_7.555000e+02nm,S3_D3_7.555000e+02nm,S5_D3_7.555000e+02nm,S6_D6_7.555000e+02nm,S8_D6_7.555000e+02nm,S9_D6_7.555000e+02nm
1226,123.0,-0.0488,-0.0343,-0.0533,-0.0481,-0.0355,-0.0690,-0.0661,-0.0416,-0.0110,...,-0.006150,-0.0302,0.00670,-0.0217,-0.02860,0.01960,-0.02150,-0.00590,-0.133,-0.008160
1227,123.0,-0.0470,-0.0397,-0.0566,-0.0543,-0.0364,-0.0690,-0.0667,-0.0395,-0.0142,...,-0.003860,-0.0307,0.00743,-0.0235,-0.02500,0.00933,-0.01830,-0.00625,-0.148,-0.006170
1228,123.0,-0.0441,-0.0462,-0.0601,-0.0602,-0.0374,-0.0693,-0.0662,-0.0363,-0.0182,...,-0.001520,-0.0316,0.00823,-0.0252,-0.02030,-0.00442,-0.01400,-0.00584,-0.163,-0.003250
1229,123.0,-0.0401,-0.0538,-0.0637,-0.0656,-0.0387,-0.0699,-0.0644,-0.0319,-0.0233,...,0.000724,-0.0329,0.00909,-0.0269,-0.01470,-0.02190,-0.00868,-0.00480,-0.177,0.000426
1230,123.0,-0.0349,-0.0623,-0.0674,-0.0704,-0.0402,-0.0708,-0.0613,-0.0263,-0.0293,...,0.002750,-0.0345,0.01000,-0.0285,-0.00812,-0.04310,-0.00238,-0.00329,-0.189,0.004630